@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "android";
    src: url(/fontes/idroid.otf) format(opentype);
    font-weight: 400px;
    font-style: normal;
}
@import url("https://use.typekit.net/awm6jxz.css");

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fontepadrao: 'Times New Roman', Times, serif;
    --fontedestaque: "Bebas Neue", serif;
    --fontandroid: "android";
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fontepadrao);
}

nav {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    
} 

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-family: var(--fontepadrao);
}

nav a:hover {
    color: var(--cor4);
    border-radius: 5px;
} 

header {
    background-color: var(--cor4);
    text-align: center;
    min-height: 150px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) );
}

header > h1 {
    color: white;
    margin-bottom: 20px;
    padding-top: 30px;
    font-family: var(--fontedestaque);
    font-size: 3em;
    text-shadow: 4px 2px 0px black;
    
}

header p {
    font-family: var(--fontepadrao);
    font-weight: 1000;
    font-size: 1.3em;
    color: white;
    text-shadow: 2px 2px 0px black;
    padding-bottom: 10px;
}


main {
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.418);
    margin-bottom: 20px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

main h1 {
    font-family: var(--fontandroid);
    color: var(--cor5);
    text-align: center;
}

main h2 {
    font-family: var(--fontandroid);
    font-size: 1.3em;
}

main p {
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    font-family: var(--fontepadrao);
    font-size: 1.1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor3);
}

main a:hover {
    text-decoration: underline;
}

aside {
    background-color: var(--cor1);
    border-radius: 20px;
    padding: 15px;
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    margin: -15px ;
    padding: 5px;
    font-size: 1.5em;
    border-radius: 10px 10px 0px 0px;
}

article a {
    color: var(--cor4);
}
ul {
    columns: 2;
    padding-left: 150px;
    list-style-position: inside;
    text-align: justify;
}
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.pequena {
    max-width: 250px;
    display: block;
    margin: auto;
}

div.video {
    position: relative;
    padding-bottom: 56.3%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width:90%;
    height: 90%;
}
